.summary {
    text-align: center;
    max-width: 80rem;
    width: 90%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    background-color: #F2F2F2;
    color:black;
    border-radius: 14px;
    border: 2px solid black;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
    font-size: 2rem;
    margin-top: 0;
}